#content {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  /* Allow the tasks to scroll while preventing nav from scrolling */
  overflow: scroll;
  min-height: 100vh;
  height: 100vh;

  /* This is positioned ancestor in which #newTaskFormWindow's 
  position is relative to */
  position: relative; 
}

#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}
#headerContainer > button {
  z-index: 3;
}