#content {
  /* width: 100%; */
  flex-grow: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  /* Allow the tasks to scroll while preventing nav from scrolling */
  overflow: scroll;
  min-height: 100vh;
  height: 100vh;

  /* This is positioned ancestor in which #newTaskFormWindow's 
  position is relative to */
  position: relative; 
}

#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}
#headerContainer > button {
  z-index: 3;
}

#newTaskButton {
  font-size: 1.6rem;
  color: #6D6D6D;
  border-radius: 0.3rem;
  
  /* transition-property: background-color; */
  /* transition-duration: 2s; */
  transition: background-color 500ms;
}

#newTaskButton:hover {
  background-color: #F2F2F2;
}