.tasksContainer,
.completedTasksContainer {
  padding: 5px;
}

.completedTasksContainer>div.task>div.inputs>p,
.completedTasksContainer>div.task>div.inputs>div.inputsRow,
.completedTasksContainer>div.task>div.inputs>input {
  color: #808080;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: var(--border-style);
  padding: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.inputs>p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 19px;
  padding: 1px;
}

.inputsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.radioButton {
  padding: 0 10px 0 5px;
  margin: 0;
}

.task>.moveRight {
  margin-left: auto;
  margin-right: 0;
  background-color: #FFFFFF;
}