:root {
  --border-style: 1px solid grey;
}

.project {
  padding: 5px;
}

.projectHeader{
  border-bottom: var(--border-style);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectTitle {
  font-weight: bold;
  padding: 5px;
}

.fillColumn{
  flex-grow: 1;
  border: 1px solid red;
}