:root {
  --border-style: 1px solid #E6E6E6;
}

.project {
  padding: 5px;
}

.projectHeader {
  /* border-bottom: var(--border-style); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectTitle {
  font-weight: bold;
  padding: 5px;
  font-family: var(--Nud-Motoya-W4);
  font-size: 1.0rem;
}

.fillColumn {
  flex-grow: 1;
  border: 1px solid red;
}