:root {
  --main-nav-bg: #F0F0F0;
}

#navContainer {
  width: 281px;
  min-height: 100vh;
  height: 100vh;
  padding-top: 30px;
  background-color: var(--main-nav-bg);
}

#navContainer nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}

#defaultProjectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding: 5px 5px;
}

/* When the "All" button is active */
.All-active {
  background-color: #5B626A !important;
  color: white !important;
}

/* When the "Scheduled" button is active */
.Scheduled-active {
  background-color: #FF3B30 !important;
  color: white !important;
}

/* When the "Flagged" button is active */
.Flagged-active {
  background-color: #FF9500 !important;
  color: white !important;
}

/* When the "Today" button is active */
.Today-active {
  background-color: #057AFF !important;
  color: white !important;
}

/* Default project buttons */
#defaultProjectsContainer>div {
  background-color: var(--nav-default-button-background-color);
  margin: 0;
  flex-basis: 100px;
  padding: 10px;
  height: 62px;
  flex-grow: 1;
  border-radius: 0.6rem;
  font-family: var(--project-title-font);
  font-size: 0.8rem;
  color: #585858;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#projectButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

/* This is the "My Lists" title in the Nav */
#projectButtons>p {
  font-family: Arial;
  font-weight: bold;
  padding: 3px;
  font-size: 0.8rem;
  color: #B0B0B0;
}

/* Button containers */
#projectButtons>div {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  overflow: hidden;
}

#projectButtons>div>button {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px 5px 20px;
  border: none;
  font-family: var(--nav-button-font);
  color: var(--nav-button-color);
  font-size: .9rem;
}

/* When the user project button is active */
.active {
  background-color: #44A1FF;
  color: white !important;
}

/* When the user project button has been selected */
.selected {
  background-color: #D7D7D7;
}

#newProjectButtonContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

#settingIcon {
  font-size: 0.8rem;
  color: #717171;
}

#settingIcon:hover {
  color: #44A1FF;
}

/* Settings tippy menu */
.tippyMenu {
  margin: 0;
  height: 100px;
  width: 100px;
}

.tippyMenu>.title {
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid silver;
}

/* The tippy menu when "i" is clicked */
.tippyMenuContainer {
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.projectMenuButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #057AFF;
  color: white;
  width: 100%;
}

.defaultProject {
  background-color: #FF3B30;
}

.defaultProject:hover {
  cursor: not-allowed;
}

.addListButton {
  color: #717171;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  font-family: var(--nav-button-font);
}

.defaultCursor {
  cursor: default;
}