* {
  box-sizing: border-box;
}

/* Font for nav > user project buttons */
@font-face {
  font-family: 'Sebino Regular';
  src: url('./fonts/Sebino\ Regular/Sebino.woff') format("woff"),
    url('./fonts/Sebino\ Regular/Sebino.woff2') format("woff2"),
    url('./fonts/Sebino\ Regular/Sebino.svg') format('svg');
}

/* Font for project titles */
@font-face {
  font-family: 'Nud Motoya W4';
  src: url('./fonts/NudMotoya/NudMotoya-W4.woff') format("woff"),
    url('./fonts/NudMotoya/NudMotoya-W4.woff') format("woff2"),
    url('./fonts/NudMotoya/NudMotoya-W4.svg') format('svg');
}

@font-face {
  font-family: 'Nud Motoya W6';
  src: url('./fonts/NudMotoya/NudMotoya-W6.woff') format("woff"),
    url('./fonts/NudMotoya/NudMotoya-W6.woff') format("woff2"),
    url('./fonts/NudMotoya/NudMotoya-W6.svg') format('svg');
}


:root {
  /* Colors */
  --ios-default-grey: #5b626A;
  --ios-default-red: #FF3B30;
  --ios-default-orange: #FF9500;
  --ios-default-blue: #057AFF;
  --nav-default-button-background-color: #D7D7D7;
  --nav-button-color: #454545;

  /* Fonts */
  --Sebino-Regular: 'Sebino Regular';
  --default-app-font: var(--Sebino-Regular);
  --Nud-Motoya-W4: 'Nud Motoya W4';
  --Nud-Motoya-W6: 'Nud Motoya W6';
}